<hr>

  <div class=" flex container">
   <div class="mt-3">
    <img src="../assets/Img/LogoNew.png" alt="">
   </div>
   <div class="mt-3">
    <div class="flex2 mx-2">
        <div class="mx-3 notify  hide">
        <img src="../assets/Img/Path 689.png" alt="">
        <div class="txt px-2">3</div>

        </div>
        <div class="profile flex mx-3 px-2 hide">
          <div class="icon mx-2">
            <span>
              <i class="fa-solid fa-chevron-down"></i>
              </span>
          </div>
          <div class="mx-2">
            <img src="../assets/Img/avatar-svgrepo-com.png" alt="">
          </div>
        </div>
        <div class="mx-2">
         <span><i class="fa-solid fa-bars fa-xl"></i></span>
         </div>

      </div>
    </div>


   </div>

 <div class="flex container mt-5 table_container">
  <div class="flex w-100">
    <div><ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Tasks</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Schedules</button>
      </li>
      <li class="nav-item1" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Failed SubTasks</button>
      </li>
    </ul>
  </div>
  <div class="flex5">
    <div class="mx-2"><span><i class="fa-light fa-plus fa-xl"></i></span></div>
    <div><span><img src="../assets/Img/Filter Logo.png" alt=""></span></div>


  </div>

  </div>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="container  ">
        <div class="table-responsive">
        <table class="table ">
          <tbody>
            <tr class="frist" >
              <th scope="row" class="fristslot"></th>
              <td>
                <div class="  flex3">
              <p class="fontTable">name</p>
              <p class="fontTable2">Main Data Ethiopia</p>
              <p class="fontTable">#TSK_216894891</p>

                </div>
              </td>
              <td>
                <div class="flex4  ">
               <div class="mx-2">
                <img src="../assets/Img/refresh icon.png" alt="">

               </div>
               <div class="mx-2">
                <p class="fontTable">Status</p>
                <p class="  blueColor">Running</p>
               </div>

                  </div></td>
              <td>    <div class="flex4  ">
                <div class="mx-2">
                 <img src="../assets/Img/date icon.png" alt="">

                </div>
                <div class="mx-2">
                 <p class="fontTable">Creation Date</p>
                 <p class="fontTable2">2023-03-15 <span> </span> 15:55:17</p>
                </div>

                   </div></td>
              <td>
                <div class="flex3  ">
                  <p class="fontTable">Selection Criteria</p>
                  <div class="tablelist">
                    <ul>
                      <li><p class="fontTable4">Electricity Company of Ghana</p></li>
                      <li><p class="fontTable4">Demo Region 1</p></li>
                      <li><p class="fontTable4">Demo District 1</p></li>

                    </ul>
                  </div>


                  </div>
                </td>
              <td>
                <div class="flex3  ">
                  <p class="fontTable">Selection Criteria</p>
                  <div class="tablelist">
                    <ul>
                      <li><p class="fontTable4">Electricity Company of Ghana</p></li>
                      <li><p class="fontTable4">Demo Region 1</p></li>
                      <li><p class="fontTable4">Demo District 1</p></li>

                    </ul>
                  </div>


                  </div>
              </td>
              <td class="lastTd">
                <div class="flex4  ">
                  <div class="flex3 mx-2">
                    <p class="fontTable">Tsk (210)</p>
                    <div class="progress my-1 Greenborder">
                      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="120" aria-valuemin="0" aria-valuemax="210" style="width:80% ; color: black; font-weight: 600; border: 1px solid #12bb12;">
      170
                      </div>
                    </div>
                    <div class="progress my-1 Blueborder">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="210" style="width:45% ; color: black; font-weight: 600; text-align: center; border: 1px solid #0090ff">
      70
                      </div>
                    </div>
                    <div class="progress my-1 Redborder">
                      <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="210" style="width:30% ; color: black; font-weight: 600;border: 1px solid #f57277">
      20                </div>
                    </div>
                   </div>
             <div class="mx-2 Scheduled " >
              <p class="fontTable5"> Scheduled </p></div>
               <div class="mx-2 Scheduled">
                <span>
                 <i class="fa-solid fa-chevron-right"></i>
               </span>
              </div>

                  </div>
              </td>

            </tr>
            <tr class="sec" >
              <th scope="row" class="Secslot"></th>
              <td>
                <div class="  flex3">
              <p class="fontTable">name</p>
              <p class="fontTable2">Read Main Data</p>
              <p class="fontTable">#TSK_216894891</p>

                </div>
              </td>
              <td>
                <div class="flex4  ">
               <div class="mx-2">
                <img src="../assets/Img/True.png" alt="">

               </div>
               <div class="mx-2">
                <p class="fontTable">Status</p>
                <p class="greenColor ">Finished</p>
               </div>

                  </div>
                </td>
              <td>
                  <div class="flex4  ">
                <div class="mx-2">
                 <img src="../assets/Img/date icon.png" alt="">

                </div>
                <div class="mx-2">
                 <p class="fontTable">Creation Date</p>
                 <p class="fontTable2">2023-03-15 <span> </span> 15:55:17</p>
                </div>

                   </div>
                  </td>
              <td>
                <div class="flex3  ">
                  <p class="fontTable">Selection Criteria</p>
                  <div class="tablelist">
                    <ul>
                      <li><p class="fontTable4">Electricity Company of Ghana</p></li>
                      <li><p class="fontTable4">Demo Region 1</p></li>
                      <li><p class="fontTable4">Demo District 1</p></li>

                    </ul>
                  </div>


                  </div>
                </td>
              <td>
                <div class="flex3  ">
                  <p class="fontTable">Selection Criteria</p>
                  <div class="tablelist">
                    <ul>
                      <li><p class="fontTable4">Electricity Company of Ghana</p></li>
                      <li><p class="fontTable4">Demo Region 1</p></li>
                      <li><p class="fontTable4">Demo District 1</p></li>

                    </ul>
                  </div>


                  </div>
              </td>
              <td class="lastTd">
                <div class="flex4  ">
                  <div class="flex3 mx-2">
                    <p class="fontTable">Tsk (210)</p>
                    <div class="progress my-1 Greenborder">
                      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="210" aria-valuemin="0" aria-valuemax="210" style="width:100% ;border: 1px solid #12bb12">
                        210
                      </div>
                    </div>
                    <div class="progress my-1 Blueborder">
                      <div class="progress-bar progress-bar-info  zero" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="210" >
                       0
                      </div>
                    </div>
                    <div class="progress my-1 Redborder">
                      <div class="progress-bar bg-danger zero" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="210" >
                        0
                      </div>
                    </div>
                   </div>
             <div class="mx-2 Scheduled " >
              <p class="fontTable5"> Scheduled </p></div>
               <div class="mx-2 Scheduled">
                <span>
                 <i class="fa-solid fa-chevron-right"></i>
               </span>
              </div>

                  </div>
              </td>

            </tr>
            <tr class="Fourth" >
              <th scope="row" class="Thirdslot"></th>
              <td>
                <div class="  flex3">
              <p class="fontTable">name</p>
              <p class="fontTable2">Change Tariff Cons..</p>
              <p class="fontTable">#TSK_216894891</p>

                </div>
              </td>
              <td>
                <div class="flex4  ">
               <div class="mx-2">
                <img src="../assets/Img/timer.png" alt="">

               </div>
               <div class="mx-2">
                <p class="fontTable">Status</p>
                <p class="  GreyColor">Queued</p>
               </div>

                  </div></td>
              <td>    <div class="flex4  ">
                <div class="mx-2">
                 <img src="../assets/Img/date icon.png" alt="">

                </div>
                <div class="mx-2">
                 <p class="fontTable">Creation Date</p>
                 <p class="fontTable2">2023-03-15 <span> </span> 15:55:17</p>
                </div>

                   </div></td>
              <td>
                <div class="flex3  ">
                  <p class="fontTable">Selection Criteria</p>
                  <div class="tablelist">
                    <ul>
                      <li><p class="fontTable4">Electricity Company of Ghana</p></li>
                      <li><p class="fontTable4">Demo Region 1</p></li>
                      <li><p class="fontTable4">Demo District 1</p></li>

                    </ul>
                  </div>


                  </div>
                </td>
              <td>
                <div class="flex3  ">
                  <p class="fontTable">Selection Criteria</p>
                  <div class="tablelist">
                    <ul>
                      <li><p class="fontTable4">Electricity Company of Ghana</p></li>
                      <li><p class="fontTable4">Demo Region 1</p></li>
                      <li><p class="fontTable4">Demo District 1</p></li>

                    </ul>
                  </div>


                  </div>
              </td>
              <td class="lastTd">
                <div class="flex4  ">
             <div class="flex3 mx-2">
              <p class="fontTable">Tsk (210)</p>
              <div class="progress my-1 Greenborder">
                <div class="progress-bar bg-success zero" role="progressbar" aria-valuenow="210" aria-valuemin="0" aria-valuemax="210"  >
0
                </div>
              </div>
              <div class="progress my-1 Blueborder">
                <div class="progress-bar progress-bar-info zero" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="210"  >
0
                </div>
              </div>
              <div class="progress my-1 Redborder">
                <div class="progress-bar bg-danger zero" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="210"  >
0                </div>
              </div>
             </div>
             <div class="mx-2 Scheduled " >
              <p class="fontTable5"> Scheduled </p></div>
               <div class="mx-2 Scheduled">
                <span>
                 <i class="fa-solid fa-chevron-right"></i>
               </span>
              </div>

                  </div>
              </td>

            </tr>
            <tr class="Third" >
              <th scope="row" class="Thirdslot"></th>
              <td>
                <div class="  flex3">
              <p class="fontTable">name</p>
              <p class="fontTable2">Change Tariff</p>
              <p class="fontTable">#TSK_216894891</p>

                </div>
              </td>
              <td>
                <div class="flex4  ">
               <div class="mx-2">
                <img src="../assets/Img/New task icon.png" alt="">

               </div>
               <div class="mx-2">
                <p class="fontTable">Status</p>
                <p class="  BlackColor">New</p>
               </div>

                  </div></td>
              <td>    <div class="flex4  ">
                <div class="mx-2">
                 <img src="../assets/Img/date icon.png" alt="">

                </div>
                <div class="mx-2">
                 <p class="fontTable">Creation Date</p>
                 <p class="fontTable2">2023-03-15 <span> </span> 15:55:17</p>
                </div>

                   </div></td>
              <td>
                <div class="flex3  ">
                  <p class="fontTable">Selection Criteria</p>
                  <div class="tablelist">
                    <ul>
                      <li><p class="fontTable4">Electricity Company of Ghana</p></li>
                      <li><p class="fontTable4">Demo Region 1</p></li>
                      <li><p class="fontTable4">Demo District 1</p></li>

                    </ul>
                  </div>


                  </div>
                </td>
              <td>
                <div class="flex3  ">
                  <p class="fontTable">Selection Criteria</p>
                  <div class="tablelist">
                    <ul>
                      <li><p class="fontTable4">Electricity Company of Ghana</p></li>
                      <li><p class="fontTable4">Demo Region 1</p></li>
                      <li><p class="fontTable4">Demo District 1</p></li>

                    </ul>
                  </div>


                  </div>
              </td>
              <td class="lastTd">
                <div class="flex4  ">
                  <div class="flex3 mx-2">
                    <p class="fontTable">Tsk (210)</p>
                    <div class="progress my-1 Greenborder">
                      <div class="progress-bar bg-success zero" role="progressbar" aria-valuenow="210" aria-valuemin="0" aria-valuemax="210"  >
      0
                      </div>
                    </div>
                    <div class="progress my-1 Blueborder">
                      <div class="progress-bar progress-bar-info zero" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="210"  >
      0
                      </div>
                    </div>
                    <div class="progress my-1 Redborder">
                      <div class="progress-bar bg-danger zero" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="210"  >
      0                </div>
                    </div>
                   </div>
             <div class="mx-2 Scheduled " >
              <p class="fontTable5"> Scheduled </p></div>
               <div class="mx-2 Scheduled">
                <span>
                 <i class="fa-solid fa-chevron-right"></i>
               </span>
              </div>

                  </div>
              </td>

            </tr>
            <tr class="Third" >
              <th scope="row" class="Thirdslot"></th>
              <td>
                <div class="  flex3">
              <p class="fontTable">name</p>
              <p class="fontTable2">Change Tariff</p>
              <p class="fontTable">#TSK_216894891</p>

                </div>
              </td>
              <td>
                <div class="flex4  ">
               <div class="mx-2">
                <img src="../assets/Img/New task icon.png" alt="">

               </div>
               <div class="mx-2">
                <p class="fontTable">Status</p>
                <p class="  BlackColor">New</p>
               </div>

                  </div></td>
              <td>    <div class="flex4  ">
                <div class="mx-2">
                 <img src="../assets/Img/date icon.png" alt="">

                </div>
                <div class="mx-2">
                 <p class="fontTable">Creation Date</p>
                 <p class="fontTable2">2023-03-15 <span> </span> 15:55:17</p>
                </div>

                   </div></td>
              <td>
                <div class="flex3  ">
                  <p class="fontTable">Selection Criteria</p>
                  <div class="tablelist">
                    <ul>
                      <li><p class="fontTable4">Electricity Company of Ghana</p></li>
                      <li><p class="fontTable4">Demo Region 1</p></li>
                      <li><p class="fontTable4">Demo District 1</p></li>

                    </ul>
                  </div>


                  </div>
                </td>
              <td>
                <div class="flex3  ">
                  <p class="fontTable">Selection Criteria</p>
                  <div class="tablelist">
                    <ul>
                      <li><p class="fontTable4">Electricity Company of Ghana</p></li>
                      <li><p class="fontTable4">Demo Region 1</p></li>
                      <li><p class="fontTable4">Demo District 1</p></li>

                    </ul>
                  </div>


                  </div>
              </td>
              <td class="lastTd">
                <div class="flex4  ">
                  <div class="flex3 mx-2">
                    <p class="fontTable">Tsk (210)</p>
                    <div class="progress my-1 Greenborder">
                      <div class="progress-bar bg-success zero" role="progressbar" aria-valuenow="210" aria-valuemin="0" aria-valuemax="210"  >
      0
                      </div>
                    </div>
                    <div class="progress my-1 Blueborder">
                      <div class="progress-bar progress-bar-info zero" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="210"  >
      0
                      </div>
                    </div>
                    <div class="progress my-1 Redborder">
                      <div class="progress-bar bg-danger zero" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="210"  >
      0              </div>
                    </div>
                   </div>
             <div class="mx-2 Scheduled " >
              <p class="fontTable5"> Scheduled </p></div>
               <div class="mx-2 Scheduled">
                <span>
                 <i class="fa-solid fa-chevron-right"></i>
               </span>
              </div>

                  </div>
              </td>

            </tr>
            <tr class="Third" >
              <th scope="row" class="Thirdslot"></th>
              <td>
                <div class="  flex3">
              <p class="fontTable">name</p>
              <p class="fontTable2">Change Tariff</p>
              <p class="fontTable">#TSK_216894891</p>

                </div>
              </td>
              <td>
                <div class="flex4  ">
               <div class="mx-2">
                <img src="../assets/Img/New task icon.png" alt="">

               </div>
               <div class="mx-2">
                <p class="fontTable">Status</p>
                <p class="  BlackColor">New</p>
               </div>

                  </div></td>
              <td>    <div class="flex4  ">
                <div class="mx-2">
                 <img src="../assets/Img/date icon.png" alt="">

                </div>
                <div class="mx-2">
                 <p class="fontTable">Creation Date</p>
                 <p class="fontTable2">2023-03-15 <span> </span> 15:55:17</p>
                </div>

                   </div></td>
              <td>
                <div class="flex3  ">
                  <p class="fontTable">Selection Criteria</p>
                  <div class="tablelist">
                    <ul>
                      <li><p class="fontTable4">Electricity Company of Ghana</p></li>
                      <li><p class="fontTable4">Demo Region 1</p></li>
                      <li><p class="fontTable4">Demo District 1</p></li>

                    </ul>
                  </div>


                  </div>
                </td>
              <td>
                <div class="flex3  ">
                  <p class="fontTable">Selection Criteria</p>
                  <div class="tablelist">
                    <ul>
                      <li><p class="fontTable4">Electricity Company of Ghana</p></li>
                      <li><p class="fontTable4">Demo Region 1</p></li>
                      <li><p class="fontTable4">Demo District 1</p></li>

                    </ul>
                  </div>


                  </div>
              </td>
              <td class="lastTd">
                <div class="flex4  ">
                  <div class="flex3 mx-2">
                    <p class="fontTable">Tsk (210)</p>
                    <div class="progress my-1 Greenborder">
                      <div class="progress-bar bg-success zero" role="progressbar" aria-valuenow="210" aria-valuemin="0" aria-valuemax="210"  >
      0
                      </div>
                    </div>
                    <div class="progress my-1 Blueborder ">
                      <div class="progress-bar progress-bar-info zero" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="210"  >
      0
                      </div>
                    </div>
                    <div class="progress my-1 Redborder">
                      <div class="progress-bar bg-danger zero" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="210"  >
      0                </div>
                    </div>
                   </div>
             <div class="mx-2 Scheduled " >
              <p class="fontTable5"> Scheduled </p></div>
               <div class="mx-2 Scheduled">
                <span>
                 <i class="fa-solid fa-chevron-right"></i>
               </span>
              </div>

                  </div>
              </td>

            </tr>


          </tbody>
        </table>
      </div>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Schedules</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Failed SubTasks</div>
  </div>

  </div>
  <div class="footer mt-3">
    <p class="center">Powered By<span class="mx-2"><img src="../assets/Img/Group 27.png" alt=""></span>ELSewedy Electrometer</p>

  </div>




